VISUALCLAUSE_RADAR_REGISTRY_URL=http://localhost:3001/api/registry
VISUALCLAUSE_BUILDER_REGISTRY_URL=http://localhost:3002/api/registry
VISUALCLAUSE_SCORING_REGISTRY_URL=http://localhost:3003/api/registry
VISUALCLAUSE_BETTING_REGISTRY_URL=http://localhost:3004/api/registry

VISUALCLAUSE_RADAR_ACTIVITY_URL=http://localhost:3001/api/activity
VISUALCLAUSE_BUILDER_ACTIVITY_URL=http://localhost:3002/api/activity
VISUALCLAUSE_SCORING_ACTIVITY_URL=http://localhost:3003/api/activity
VISUALCLAUSE_BETTING_ACTIVITY_URL=http://localhost:3004/api/activity

VISUALCLAUSE_RADAR_PROTOCOL_URL=http://localhost:3001/api/protocol
VISUALCLAUSE_BUILDER_PROTOCOL_URL=http://localhost:3002/api/protocol
VISUALCLAUSE_SCORING_PROTOCOL_URL=http://localhost:3003/api/protocol
VISUALCLAUSE_BETTING_PROTOCOL_URL=http://localhost:3004/api/protocol

VISUALCLAUSE_RADAR_HEALTH_URL=http://localhost:3001/api/health
VISUALCLAUSE_BUILDER_HEALTH_URL=http://localhost:3002/api/health
VISUALCLAUSE_SCORING_HEALTH_URL=http://localhost:3003/api/health
VISUALCLAUSE_BETTING_HEALTH_URL=http://localhost:3004/api/health
